.bodyImgAviso {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    width: 60%;

}

.bodyText {
    text-align: center;
    font-size: 12pt;
}

.button {
    background: #1395fd;
    color: #ffffff;
    padding: 12px;
    margin: auto;
    display: block;
    width: 85%;
    font-size: 12pt;
    border-radius: 5px;
}